[submodule "ConfigServer"]
	path = ConfigServer
	url = https://github.com/orlandoKuanDev/ConfigServer
[submodule "eureka-server-bank"]
	path = eureka-server-bank
	url = https://github.com/orlandoKuanDev/eureka-server-bank
[submodule "ms-product-bank"]
	path = ms-product-bank
	url = https://github.com/orlandoKuanDev/ms-product-bank
[submodule "ms-customer-bank"]
	path = ms-customer-bank
	url = https://github.com/orlandoKuanDev/ms-customer-bank
[submodule "ms-acquisition-bank"]
	path = ms-acquisition-bank
	url = https://github.com/orlandoKuanDev/ms-acquisition-bank
[submodule "ms-bill"]
	path = ms-bill
	url = https://github.com/orlandoKuanDev/ms-bill
