[submodule "ConfigServer"]
	path = ConfigServer
	url = https://github.com/orlandoKuanDev/ConfigServer
[submodule "eureka-server-bank"]
	path = eureka-server-bank
	url = https://github.com/orlandoKuanDev/eureka-server-bank
[submodule "ms-product-bank"]
	path = ms-product-bank
	url = https://github.com/orlandoKuanDev/ms-product-bank
[submodule "ms-customer-bank"]
	path = ms-customer-bank
	url = https://github.com/orlandoKuanDev/ms-customer-bank
[submodule "ms-acquisition-bank"]
	path = ms-acquisition-bank
	url = https://github.com/orlandoKuanDev/ms-acquisition-bank
[submodule "ms-bill"]
	path = ms-bill
	url = https://github.com/orlandoKuanDev/ms-bill
[submodule "ms-transaction-bank"]
	path = ms-transaction-bank
	url = https://github.com/orlandoKuanDev/ms-transaction-bank
[submodule "ms-retire-bank"]
	path = ms-retire-bank
	url = https://github.com/orlandoKuanDev/ms-retire-bank
[submodule "ms-deposit-bank"]
	path = ms-deposit-bank
	url = https://github.com/orlandoKuanDev/ms-deposit-bank
[submodule "ms-credit"]
	path = ms-credit
	url = https://github.com/orlandoKuanDev/ms-credit
[submodule "ms-payment"]
	path = ms-payment
	url = https://github.com/orlandoKuanDev/ms-payment
[submodule "ms-consumption"]
	path = ms-consumption
	url = https://github.com/orlandoKuanDev/ms-consumption
[submodule "ms-debit"]
	path = ms-debit
	url = https://github.com/Mauricio06Everis/ms-debit
[submodule "ms-transference"]
	path = ms-transference
	url = https://github.com/orlandoKuanDev/ms-transference
